.boton {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espacio interior */
  text-align: center; /* Alinear texto al centro */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  border-radius: 8px; /* Borde redondeado */
  transition-duration: 0.4s; /* Duración de la transición */
}

.boton:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar el cursor */
}
